<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Bookstore - Add Book</title>
</head>

<body>
	<h1>Add New Book</h1>
	<form th:object="${newBook}" th:action="@{/update}" method="post" onsubmit="return validateForm()">
		Title: <input type="text" th:field="*{title}" /><br />
		Author: <input type="text" th:field="*{author}" /><br />
		Price: <input type="text" th:field="*{price}" /><br />
		Quantity: <input type="text" th:field="*{quantity}" /><br />
		<input type="submit" value="Add Book" /> <!-- Use "type" attribute for submit button -->
	</form>
	<a th:href="@{/list}">Back to Book List</a>
	<a th:href="@{/}">Home</a>
	
	<script>
		function validateForm() {
			var title = document.forms[0]["title"].value;
			var author = document.forms[0]["author"].value;
			var price = document.forms[0]["price"].value;
			var quantity = document.forms[0]["quantity"].value;

			// You can add your validation rules here
			if (title === "" || author === "" || price === "0.0" || quantity === "0") {
				alert("All fields are required");
				return false; // Prevent the form from being submitted
			}
			

			// You can add more specific validation here, e.g., checking for valid price and quantity

			return true; // Submit the form if it passes validation
		}
	</script>
	
</body>

</html>